src/clientversion.cpp export-subst
README.md merge=orion
install_ubuntu.sh merge=orion
CONTRIBUTING.md merge=orion
src/chainparams.cpp merge=orion
src/blockrewards.h merge=orion
doc/release-process.md merge=orion
doc/release-notes.md merge=orion
doc/dependencies.md merge=orion
doc/build-windows.md merge=orion
doc/build-unix.md merge=orion
doc/build-osx.md merge=orion
doc/gitian-building/gitian-setup-windows.md merge=orion
doc/gitian-building/gitian-setup-ubuntu.md merge=orion
doc/gitian-building/gitian-setup-mac.md merge=orion
doc/gitian-building/gitian-setup-fedora.md merge=orion
doc/gitian-building/gitian-building-mac-os-sdk.md merge=orion
contrib/gitian-build.py merge=orion
contrib/rpm/btcu.spec merge=orion
contrib/gitian-descriptors/gitian-win.yml merge=orion
contrib/gitian-descriptors/gitian-osx.yml merge=orion
contrib/gitian-descriptors/gitian-linux.yml merge=orion
contrib/debian/control merge=orion
build-aux/snap/snapcraft.yaml merge=orion
