src/clientversion.cpp export-subst
README.md merge=pegasus
install_ubuntu.sh merge=pegasus
CONTRIBUTING.md merge=pegasus
src/chainparams.cpp merge=pegasus
src/blockrewards.h merge=pegasus
doc/release-process.md merge=pegasus
doc/release-notes.md merge=pegasus
doc/dependencies.md merge=pegasus
doc/build-windows.md merge=pegasus
doc/build-unix.md merge=pegasus
doc/build-osx.md merge=pegasus
doc/gitian-building/gitian-setup-windows.md merge=pegasus
doc/gitian-building/gitian-setup-ubuntu.md merge=pegasus
doc/gitian-building/gitian-setup-mac.md merge=pegasus
doc/gitian-building/gitian-setup-fedora.md merge=pegasus
doc/gitian-building/gitian-building-mac-os-sdk.md merge=pegasus
contrib/gitian-build.py merge=pegasus
contrib/rpm/btcu.spec merge=pegasus
contrib/gitian-descriptors/gitian-win.yml merge=pegasus
contrib/gitian-descriptors/gitian-osx.yml merge=pegasus
contrib/gitian-descriptors/gitian-linux.yml merge=pegasus
contrib/debian/control merge=pegasus
build-aux/snap/snapcraft.yaml merge=pegasus
