src/clientversion.cpp export-subst
README.md merge=ours
install_ubuntu.sh merge=ours
CONTRIBUTING.md merge=ours
src/chainparams.cpp merge=ours
src/blockrewards.h merge=ours
doc/release-process.md merge=ours
doc/release-notes.md merge=ours
doc/dependencies.md merge=ours
doc/build-windows.md merge=ours
doc/build-unix.md merge=ours
doc/build-osx.md merge=ours
doc/gitian-building/gitian-setup-windows.md merge=ours
doc/gitian-building/gitian-setup-ubuntu.md merge=ours
doc/gitian-building/gitian-setup-mac.md merge=ours
doc/gitian-building/gitian-setup-fedora.md merge=ours
doc/gitian-building/gitian-building-mac-os-sdk.md merge=ours
contrib/gitian-build.py merge=ours
contrib/rpm/btcu.spec merge=ours
contrib/gitian-descriptors/gitian-win.yml merge=ours
contrib/gitian-descriptors/gitian-osx.yml merge=ours
contrib/gitian-descriptors/gitian-linux.yml merge=ours
contrib/debian/control merge=ours
build-aux/snap/snapcraft.yaml merge=ours
